In [2]:
#Import libraries 
import pandas as pd 
# load model and scaler and make predictions on new data
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pickle import load

### Load scaler

In [ ]:
scaler = load(open('scaler_kicsktarter_v1.pkl', 'rb'))

In [3]:
# GENERAL : Read the data set
kickstarter = pd.read_csv('ks-projects-201801-clean.csv')
kickstarter.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,launched_year,period,funded_ratio
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 00:00:00,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95,2015,58 days 11:47:32.000000000,0.000000
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01 00:00:00,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00,2017,59 days 19:16:03.000000000,0.080700
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:00:00,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00,2013,44 days 23:39:10.000000000,0.004889
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 00:00:00,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00,2012,29 days 20:35:49.000000000,0.000200
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 00:00:00,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00,2015,55 days 15:24:57.000000000,0.065795

In [4]:
# Remove columns that won't be used
kickstarter = kickstarter.drop(['category','ID', 'name', 'deadline', 'launched', 'launched_year', 'currency', 'goal', 'pledged', 'usd pledged'], axis=1)
kickstarter.head()

,main_category,state,backers,country,usd_pledged_real,usd_goal_real,period,funded_ratio
0,Publishing,failed,0,GB,0.0,1533.95,58 days 11:47:32.000000000,0.000000
1,Film & Video,failed,15,US,2421.0,30000.00,59 days 19:16:03.000000000,0.080700
2,Film & Video,failed,3,US,220.0,45000.00,44 days 23:39:10.000000000,0.004889
3,Music,failed,1,US,1.0,5000.00,29 days 20:35:49.000000000,0.000200
4,Film & Video,canceled,14,US,1283.0,19500.00,55 days 15:24:57.000000000,0.065795

In [5]:
# Convert state column to numbers
cleanup_state = {"state": {"failed": 0, "canceled": 0, "successful": 1}}
kickstarter.replace(cleanup_state, inplace=True)
kickstarter.head()

,main_category,state,backers,country,usd_pledged_real,usd_goal_real,period,funded_ratio
0,Publishing,0,0,GB,0.0,1533.95,58 days 11:47:32.000000000,0.000000
1,Film & Video,0,15,US,2421.0,30000.00,59 days 19:16:03.000000000,0.080700
2,Film & Video,0,3,US,220.0,45000.00,44 days 23:39:10.000000000,0.004889
3,Music,0,1,US,1.0,5000.00,29 days 20:35:49.000000000,0.000200
4,Film & Video,0,14,US,1283.0,19500.00,55 days 15:24:57.000000000,0.065795

In [10]:
kicstarter_first_data = kickstarter.iloc[0]
kicstarter_first_data

main_category                       Publishing
state                                        0
backers                                      0
country                                     GB
usd_pledged_real                             0
usd_goal_real                          1533.95
period              58 days 11:47:32.000000000
funded_ratio                                 0
Name: 0, dtype: object